@inject NavigationManager NavigationManager
@inject IModalService ModalService

<p class="notify">
    Это действие нельзя будет отменить
</p>

<ul class="list-group list-group-flush">
    @foreach(var login in Logins)
    {
        <li>
            <div>
                @login.website
            </div>
            <div>
                @login.username
            </div>
        </li>
    }
</ul>


<div class="row">
    <button class="btn btn-secondary col mx-4" @onclick=CancelClick>Отмена</button>
    <button class="btn btn-danger col mx-4" @onclick=DeleteClick>Удалить</button>
</div>



@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public List<Login> Logins { get; set; }

    public void DeleteClick()
    {   foreach(var Login in Logins)
        {
           DataAccess.RemoveLogin(Login);
        }
        NavigationManager.NavigateTo($"/", true);
    }

    public void CancelClick()
    {
        ModalInstance.CloseAsync();
    }
}