<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="VediGroupEntities" connectionString="metadata=res://*/DataBase.VediGroupModel.csdl|res://*/DataBase.VediGroupModel.ssdl|res://*/DataBase.VediGroupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=VediGroup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="VediGroupEntities" connectionString="metadata=res://*/DataBase.VediGroupModel.csdl|res://*/DataBase.VediGroupModel.ssdl|res://*/DataBase.VediGroupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa\serv1215;initial catalog=VediGroup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

</configuration>