<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="PassLockEntities" connectionString="metadata=res://*/DataBase.PassLock.csdl|res://*/DataBase.PassLock.ssdl|res://*/DataBase.PassLock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-SER-LARISA\SERV1215;initial catalog=PassLock;persist security info=True;user id=sa;password=AbrariK96_@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>