@page "/sharingcenter"
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IModalService ModalService
@inject IJSRuntime JS

<PageTitle>Центр обмена</PageTitle>

<div class="card m-3 table-briefs border-0">
    <div class="card-body m-2">
        <table class="usersTable">
            <thead>
                <tr>
                    <th>НАЗВАНИЕ ГРУППЫ</th>
                    <th>Паролей</th>
                    <th>РОЛЬ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Groups)
                {
                <td class="loginCell">
                    <div class="avatar">
                        <img src="https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black.png" width="30" height="30" alt="@user.login avatar">
                    </div>
                    <div class="loginText">
                        <span class="loginTextEmail">
                             @group.name
                        </span>
                    </div>
                </td>
                <td>
                        @group.GroupPasswordShareds.Count()
                </td>
                }
            </tbody>
        </table>
    </div>
</div>



@code {
    public List<Group> Groups = DataAccess.CurrentUser.GroupUsers.Select(x => x.Group).ToList();

    protected override void OnInitialized()
    {

    }
}
