body {
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    background-size: 20px 20px;
    background-position: center;
    border-radius: 50%;
}

    .avatar img {
        border-radius: 50%;
        position: relative;
        top: -1px;
        left: -1px;
    }

.loginText {
    margin-left: 16px;
    max-width: 280px;
    min-width: 140px;
}

.loginTextEmail {
    font-weight: 600;
    line-height: 1.875;
    word-break: break-word;
}

.loginCell {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0 14px;
}

.passwords-delete {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 50;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 16px;
    margin: 8px;
    /*    border-radius: 8px;
    background-color: inherit;
    background-image: linear-gradient(rgba(162, 163, 163, 50) 100%, white);*/
    transform: scale3d(1, 1, 1);
    transform-origin: center top;
    visibility: collapse;
    transition: all 250ms ease 0s;
}

.visible {
    visibility: visible;
}

.flex-row {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 4px;
    margin: 0px 2px;
}

    .flex-row svg {
        width: 16px;
    }

.usersTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #212529;
}

    .usersTable td {
        padding: 5px 10px;
        border-bottom: 1px solid #ebe9e7;
        text-align: left;
        background-color: transparent;
    }

    .usersTable th {
        font-weight: bold;
        padding: 0px 0px 10px 10px;
        background: #efefef;
        border-bottom: 1px solid #ebe9e7;
        font-size: 24px;
        background-color: transparent;
    }

.divFlex {
    display: flex;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        border: 1px solid #2d2d2d
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212529;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content button {
        width: 100%;
        color: black;
        padding: 12px 16px;
        font-size: 12px;
        text-decoration: none;
        display: block;
        background-color: #212529;
        color: white;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content button:hover {
            background-color: #ddd
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.center {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 6px;
}

    .center svg {
        height: 20px;
    }
