body {
}
.notify {
    color: rgb(227 227 227 / 87%);
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    margin: 0px;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 0px;
    margin-bottom: 20px;
}