@page "/"
@namespace VediGroup.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="Server" />

<body>
    ...

    <script src="_framework/blazor.{server|webassembly}.js"></script>
    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }

        window.clearFile = () => {
            var control = $("#InputFiles");

            control.replaceWith(control = control.clone(true));
        }

        function showDropDown(id) {
            let str = "myDropdown " + id;
            document.getElementById(str).classList.toggle("show");
        }

         //Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function copyUserName(text) {
            navigator.clipboard.writeText(text).then(() => {
                // Alert the user that the action took place.
                // Nobody likes hidden stuff being done under the hood!
                alert("Copied to clipboard");
            });
        }

        function openInNewTab(url){
            window.open(url, '_blank').focus();
        }

        function openTab(id, idButton){
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(id).style.display = "block";
            document.getElementById(idButton).className += " active";
        }
    </script>
</body>