@page "/"
@attribute [Authorize]
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div class="card m-3 table-briefs border-0">
    <div class="card-body m-2">
        <div class="row mb-2">
            <div class="col">
                <button class="btn btn-primary" @onclick=@(NewCountryClick)>
                    Добавить    
                </button>
            </div>
        </div>
        <table class="tours-table">
            <thead>
                <tr>
                    <th>ITEM NAME</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hotel in LoginsList)
                {
                    <tr @onclick="@(() => OnRowClick(hotel))">
                        <td>@hotel.website</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public List<Login> LoginsList = DataAccess.GetLogins();

    public void NewCountryClick()
    {
        NavigationManager.NavigateTo("/hotels/new");
    }

    public void OnRowClick(Login login)
    {
        NavigationManager.NavigateTo($"/hotels/{login.id}");
    }
}
