p{
    font-size: 26px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
}

.action-container {
    width: 210px;
    text-align: center;
}

.action-container:hover {
    border: 1px solid #1861ac;
}

.action-container button{
    border: none;
}