@page "/notes"
@inject NavigationManager NavigationManager
@inject IModalService ModalService
<PageTitle>Заметки</PageTitle>

<button class="btn btn-primary" @onclick=@(NewLoginClick)>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
    </svg>
    Добавить
</button>

<div class="card m-3 table-briefs border-0">
    <div class="card-body m-2">
        <table class="tours-table">
            <thead>
                <tr>
                    <th>НАЗВАНИЕ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in NotesList)
                {
                    <tr @onclick="@(() => OnRowClick(note))">
                        <td width="500px">@note.item_name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public List<Note> NotesList = DataAccess.GetNotes();


    public void NewLoginClick()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium
            };
        var parameters = new ModalParameters()
        .Add(nameof(NotesPages.NoteInfoModal.Note), new Note());
        ModalService.Show<NotesPages.NoteInfoModal>("Добавить новые данные", parameters, options);
    }

    public void OnRowClick(Note note)
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium
            };
        var parameters = new ModalParameters()
        .Add(nameof(NotesPages.NoteInfoModal.Note), note);
        ModalService.Show<NotesPages.NoteInfoModal>(note.item_name.ToString(), parameters, options);
    }


}
